<div class="modal-header">
	<h3 class="modal-title">Delete this item?</h3>
</div>
<div class="modal-body">
	Добавить учиника
	<form class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-sm-3" for="pupilName">Имя</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="pupilName" ng-model="user.name">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3" for="pupilBDate">Дата рождения</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="pupilBDate" ng-model="user.bDate">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3" for="pupilAge">Возраст</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="pupilAge" ng-model="user.age">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3" for="pupilGender">Пол</label>
			<div class="col-sm-9" id="pupilGender" ng-model="user.gender">
				<select class="form-control">
					<option>Мальчик</option>
					<option>Девочка</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3" for="pupilFamily">Семья</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="pupilFamily" ng-model="user.family">
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-danger" ng-click="save()">Добавить</button>
	<button class="btn btn-default" ng-click="cancel()">Отмена</button>
</div>